*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    /* Mobil tasarım için default olarak 7px yaptık */
    font-size: 7px;
}


body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: darkblue;
    background-color: rgba(0, 0, 0, 0.705);
    line-height: 1.5;
    text-align: center;
    
}
a{
    text-decoration: none;
}
p{
    padding: 1.5rem 0;
}
img{
    width: 100%;
    height: auto;
}
header{
    height: 56rem;
    background-color:ghostwhite;
    overflow: hidden;
}
header .big_image{
    
    /* yazıyı resmin üstüne koyduk absolute ile */
    position: absolute;
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-position: center;
    height: 56rem;
    width: 100%;
    opacity: 0.6;

    


}
header h1{
    padding: 20rem;
    padding-bottom: 0;
}
.btn{
    display: inline-block;
    background-color: darkblue;
    color: white;
    border: 2px solid darkblue;
    border-radius: 10px;
    padding: 1.2rem 0.5rem;
    margin: 1rem 1.5rem;
    transition: all 0.5s;


}
.btn:hover{
    background-color: snow;
    color: black;
}
#section-a{
    background-color:white;
    color: rgba(0, 0, 0, 0.707);
    padding: 2.4rem 0;
    
}
#section-b{
    padding: 2rem;
}
#section-b ul{
    list-style: none;
}
#section-b li{
    background-color: aliceblue;
    color: darkgrey;
    margin-top: 1.5rem;
}
.col-içerik{
    padding: 1rem;
}
#section-c{
    background-color: ghostwhite;
    color: rgba(0, 0, 0, 0.707);
    padding: 5rem;
}
#section-d .box{
    padding: 5rem;
    background-color: palegreen;
}
#section-d .box2{
    padding: 5rem;
}
footer{
    padding: 10rem;
    background-color: black;
}
footer a{

    color: aqua;
}
/* Tablet de */
@media screen and (min-width:800px) {
    html{
        font-size: 9px;  
    }
    
}
@media screen and (min-width:1200px) {
    htm{
        font-size: 11px;
    }
    /* kutu maddeler yani fotolar için */
    #section-b li{
       width: 28%;
       margin: 1%;
       display: inline-block;
    }
    .box{
        width: 50%;
        float: left;
    }
}
/* BOŞ BİR ELEMAN OLUŞTURUP YOK OLMASINI İSTİCEZ ,FOOTER KISMINI DÜZELTMEK İÇİN */
.clearfix ::after{
    content: " ";
    display: block;
    clear: both;
}
