*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
img{
    /* resimler bozulmasın diye yükseklik otomatik yapılır */
    width: 100%;
    height: auto;
}
body{
    font-family: 'Abel', sans-serif;
    font-size: 2rem;
    background-color: teal;
    color:white;
    text-align: center;
    line-height: 4rem;
    
}
header{
    background-color: rgba(0, 0, 0, 0.511);
    height: 46rem;
}
header .içerik h2{
    font-size: 5rem;
    color:white;
}
header .içerik p{
    color: black;
    font-size: 3rem;
}
header .içerik{
    padding: 10rem;
}
header .background_image{
    position: absolute;
    background-image: url(images/bg1.jpg);
    width: 100%;
    height: 46rem;
    background-size: cover; 
    background-position: center; 
    z-index: -1;
    
}
.buton{
    padding: 1rem;
    background: rgba(0, 0, 0, 0.735);
    color: white;
    border: 2px white solid;
    border-radius: 0.5rem;
    display: inline-block;
}
#section-1{
    color: white;
}
.ilkbölüm{
    color: black
}
.örnek1{
    margin: 0.2rem;
}
#section-1{
    background-color: white;
    color: teal;
    margin: 1rem;
    padding: 1rem;
}
#section-2{
    padding: 1rem;
}
.ilkbölüm{
    font-size: 3rem;
}
#section-b ul{
      margin: 2rem 0;
}
#section-2 p{
    margin: 2rem;
}
#section-3{
    background-color: gray;
    height: auto;
    padding: 0.5rem;
}
#section-4{
    background-color: darkgray;
    padding: 0.5rem ;
}
#section-4 .hakkında{
    color: black;
}
.hakkında{
    margin: 0.5rem;
}
.bizeulaşın{
    background-color: slategray;
}
footer{
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.224);
}
footer a{
    color:powderblue;
}
/* Tablet de */
@media screen and (min-width:800px) {
    html{
        font-size: 9px;  
    }
    
}
@media screen and (min-width:1200px) {
    htm{
        font-size: 11px;
    }
    /* kutu maddeler yani fotolar için */
    #section-2 li{
       width: 20%;
       margin: 1%;
       display: inline-block;
    }
   
}
/* BOŞ BİR ELEMAN OLUŞTURUP YOK OLMASINI İSTİCEZ ,FOOTER KISMINI DÜZELTMEK İÇİN */
.clearfix ::after{
    content: " ";
    display: block;
    clear: both;
}

